/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.contenitore{
    max-width: 1200px;
    margin: 0 auto;

}

/* 
    MAIN
*/
/* 
    HEADER
*/

header{
    background-color: #080B12;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    position: sticky;
}

header a{
    padding:10px 20px;
    border-radius: 20px;
    border: white solid 1px;
    text-decoration: none;
    color: white;
}

main{
    background-color: #141922;
    height: calc(100vh - 100px);
}

footer{
    background-color: #282828;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer > div:first-child{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
footer .brano-info{
    margin-left: 10px;
}

.brano-info p{
    color: #7B7B7B;
    font-size: smaller;
}
footer .brano-container div:nth-child(3){
    margin: 0 15px;
}
footer .brano-container i {
    color: #7B7B7B;
}
footer .heart{
    margin-right: 10px;
}
.img-container{
    width: 50px;
    height: 50px;
}
footer .img-container img{
    width: 100%;
}